.row
  .col-md-2.col-sm-2
    %br/
    = image_tag('/ico.png', class: "howto_image invert")
  .col-md-6
    .row
      %h3.highlight ¿Cómo comprar en Picpi?
      %br/
      %h4.text-black Pides por internet, recoges en persona.
      %br/

      %p.registrate Si no estas registrado no puedes comprar
      %p= link_to("(Registrate)", office.sign_up_path)
      %h4.highlight Pasos para comprar:
      %p 1- Checar el catálogo de productos y encontrar lo que buscamos.
      %p 2- Agregarlo a nuestro carrito de compras.
      %p 3- Verificar el carrito y convertirlo en un pedido.
      %p 4- Aceptar nuestro pedido y convertirlo en compra.
      %p 5- Ir a recoger y pagar nuestra compra.
      %br/

      %h4.highlight
        %em Gracias por su visita!
        %br
        %br
        %a.btn.btn-primary.btn-lg{:href => "/",:role => "button"} Volver a inicio
