.row
  .col-md-offset-2.col-md-8
    .row
      %h3.highlight ¿Cómo comprar?
      %br/
      %h4.text-black Pides por internet, recoges en persona.
      %br/

      %h4.highlight Pasos para comprar:
      %p 1- Checar el catálogo de productos y encontrar lo que buscamos.
      %p 2- Agregarlo a nuestro carrito de compras.
      %p 3- Verificar el carrito y convertirlo en un pedido.
      %p 4- Aceptar nuestro pedido y convertirlo en compra.
      %p 5- Ir a recoger y pagar nuestra compra.
      %br/

      %h4.highlight
        %em Gracias por su visita!
        %br
        %br
        %a.btn.btn-primary.btn-lg{:href => "/",:role => "button"} Volver a inicio
