.row
  .col-md-offset-2.col-md-9
    .row
      %h1 #PAGINA PENDIENTE#
      %h3.highlight Picpi
      %br/
      %div{:style => "float:left; padding-bottom:60px"}
        -# %img{:align => "left", :height => "275", :src => "/assets/store/kauppa/kauppa_net2-7f3764c7d512dea5783118497b5c9f7a.jpg", :width => "320"}/
      %div
        Picpi es aplicar un punto de venta en linea a una tienda de abarrotes mejorando así su eficiencia.
        %br/
