.row
  .col-md-offset-2.col-md-9
    .row
      %h1 #PAGINA PENDIENTE#
      %h3.highlight Picpi
      %br/
      %div{:style => "float:left; padding-bottom:60px"}        
      %div
        Picpi es aplicar un punto de venta en linea a una tienda de abarrotes mejorando así su eficiencia.
        %br/
