/*
 *= require_self
 *= require rails_bootstrap_forms
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$highlight: #108BAD;
$highlight-1: scale-color($highlight, $lightness: 10%);
$highlight-2: scale-color($highlight, $lightness: 20%);
$highlight-3: scale-color($highlight, $lightness: 30%);
$highlight-7: scale-color($highlight, $lightness: 70%);
$highlight-8: scale-color($highlight, $lightness: 80%);
$highlight-9: scale-color($highlight, $lightness: 90%);
$secondary-color: #c7e1df;
$table-bg-accent: #E2EEF1;
$breadcrumb-bg: rgba(213,223,255,0.3);


ul.subcat {
	font-size: .9em;
	padding-left: 10px;
}

ul.cat {
		padding-left: 0;

}

.navbar-nav li a {
  font-size: 14px;
  color: #ffffff !important;
  text-shadow: black 1px 1px 03px;
	}

.main {
  max-width: 96%;
  margin: 70px auto 0; }

@import "bootstrap";

.top-bar-section ul {
    background: #ffffff;
    }

.logo {
  	background-image: image-url("sales_clerk/kansi.jpg");
  	background-repeat: no-repeat;
    background-position: center center;
}

.top-bar-section form {
    background-color: $highlight;
    padding-right: 5px;
}

.right {
  text-align: right;
}

.footer {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 120%;
	font-size: 1.2em;
	strong, b {
  color: $highlight;
  }
}

.footer2 {
font-size: .9em;
}

.footer h4{
font-weight: 500;
}


.menus {
  padding: 8px;
  margin: 0 auto;
}

.group-wrapper {
	position: relative;
	margin-top: 12px;
}


.group-wrapper h3, h5, {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  color: #000;
  background: black;
  /* fallback color */
  background: rgba(247, 253, 255, 0.54);
  text-shadow: rgb(234, 234, 234) -1px -1px 05px;
  margin: 0px;
  width: 100%;
}

.group-wrapper.sub img {
height: auto;
max-width: 100%;  }

.group-wrapper.side img {
height: auto;
width: 220px;  }

.group-wrapper.side h5 {
  font-size: 19px;
  padding: 7px;
  width: 220px;
}

.group-wrapper.side-tex h5 {
  font-size: 16px;
  width: 220px;
  color: #000000;
  text-shadow: none !important;
  padding: 0 0 0 2px;
  position: relative;
  border-bottom: 1px solid #0078ff;
  box-shadow: 1px 1px 6px rgba(210,210,210,1);
  a { text-decoration: none; }
  img { padding-right: 5px; }
}


.group-wrapper.checkout h5 {
color: #F19711;
background: black;
background: rgba(212, 232, 245, 0.45);
text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}

.extrapic {
  position: fixed;
  left: 677px;
  top: 25px;
  z-index: 1320;
  text-align: right;
}

.group-wrapper.extrapic img {
  height: auto;
  width: 500px; }

.intro {
  padding-top: 20px;
}

.intro2 {
  width: 80%;
}

.img-responsive-prod {
  display: block;
  max-width: 100%;
  max-height: 400px;}

.intro p {
  font-size: .8em;
	line-height: 130%;
	margin-bottom: 12px;
}

.intro-text {
  width: 85%; }

.intro-text p{
  font-size: 15px; 
  line-height: 120%;
	}

.intro2 p {
  font-size: .9em;
	line-height: 130%;
	margin-bottom: 12px;
}


.intro3 p {
  font-size: .8em;
	line-height: 130%;
	margin-bottom: 12px;
}

.product-listing {
  width: 870px;
  }

.product-container {
  margin-bottom: 31px;
  position: relative;
  box-shadow: 1px 1px 8px rgba(210,210,210,1);
  overflow: hidden;
  }

.product-container h4 {
  position: absolute;
  left: 0;
  padding: 10px;
  color: #000000;
  font-size: 1.5rem;
  margin: 0px;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #0078ff;
  
}

.square-image {
  height: 200px;
}

.square-image img {
	position: absolute;
	bottom: 4px;
}

.bottom {
	position: absolute;
	bottom: 0;
	right: 0;
}

.product-fact {
  background: rgba(255, 255, 255, 0.7);
  padding: 0px 10px 0 5px;
	position: relative;
	top: 65px;
}

.product-fact	p {
	font-size: 1.2rem;
	font-weight: 500;
	color: #000000;
	line-height: 110%;
	margin-bottom: 3px;
}

.product-list-price {
  color: #04617A;
  font-weight: 400;
  font-size: 2.6rem;
  text-align: right;
  position: absolute;
  bottom: 2px;
  right: 22px; }

h5.product-name {
	font-style: bold;
	margin-bottom: 3px;
}

h4.text {
  font-size: 16px;
}

h5.text {
background: none;
}

h1.product-title {
	font-size: 2.3rem;
	color: $highlight;
}

#product-description {
	line-height: 130%;
	margin-top: 10px;
}

#inside-product-cart-form {
	margin-top: 10px;
}

.product-price {
  margin-top: 12px;
}

.breadcrumb {
  margin: 8px 15px 20px;
  border-radius: 0px;
}

.list {
	margin-top: 12px;
	padding-top: 12px;
	border-top: 1px dotted #0078ff;
	float: left;
}

.basket-total {
	font-size: .9em;
	table {
	border: 0px;
	}
}

.frame {
  margin-right: 0;
  margin-left: 0;
  border: 1px dotted #0078ff;
  border-radius: 4px;
  padding: 12px;
  font-size: .75em;
}

@media screen
{
    .no-screen, .no-screen *
    {
        display: none !important;
    }
}

.navbar-inverse .navbar-inner {
  border: 0px;
  background-color: $highlight;
}


body {
    margin-top: 50px;
    /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.banner {
    text-align: center;
    background: image-url("kauppa/violetti-lev.jpg") no-repeat center center;
    background-size: cover;
    min-height: 500px;
    margin-top: 15px;
}

.taustalogo {
  background: image-url("kauppa/kansi.jpg") no-repeat scroll;
  height: 107px;
}

.dropped {
	top: 50px;
	position: relative;
}

.dropdown-menu {
  padding-left: 10px;
}

.navbar-inverse  .navbar-nav > li > a {
color: #E2E7F6; }

.navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
background-color: #0A6779; }


.alert {
  font-weight: 500;
  border-radius: 0px; }


.alert-shop {
  background-color: $highlight-2;
  color: #ffffff;
  text-align: center;
  box-shadow: 4px 4px 8px #0069A8;

 }

.alert-danger {
  margin: 10px 15px 0px 15px;
  }

.alert-notice {
  margin: 1px;
  width: 1110px;
	position: absolute;
	top: 120px;
	z-index: 30;

}

.alert-dismissible .close {
color: black !important;
}


.highlight{
  color: $highlight;
}

.bg-high1 {
  background-color: $highlight-1;
}

.bg-high2 {
  background-color: $highlight-2;
}

.bg-high3 {
  background-color: $highlight-3;
}

.bg-high7 {
  background-color: $highlight-7;
}

.bg-high8 {
  background-color: $highlight-8;
}

.bg-high9 {
  background-color: $highlight-9;
}

.welcome {
  max-width: 92%;
  margin: 20px auto 0; }

.btn-mega {
  padding: 20px 38px;
  font-size: 30px;
  line-height: 1.33;
  border-radius: 6px;
  }

.dropdown-menu {
  background-color: $highlight-2;
  color: #ffffff;
  z-index: 10000;
  }

.dropdown-menu > li > a {
  color: #ffffff;
  z-index: 10000;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: $highlight-8; 
  z-index: 10000;
  }

.popover, .popover-title {
  font-size: 11px;
  text-align: left;
}

popover {
border: 1px solid $highlight-7;
}

.popover-title {
font-weight: bold;
background-color: D4E6EE;
border-bottom: $highlight-3;
}

.alert-dismissible .close {
position: relative;
top: -2px;
right: -21px;
color: inherit;
}

h6.product-hint {
  font-size: 1.6rem;
}

.product-hints, .product-hint-box {
  border-top: 1px dotted #108bad;
  box-shadow: 1px 1px 6px #D0E1EB;
  height: 60px;
  width: 190px;
  float: left;
  margin-right: 12px;
  padding: 2px;
  line-height: 15px;
  font-size: 13px;
  overflow: hidden; }

.product-hint-pic {
  width: 40px;
  float: left;
  text-align: center;
  margin-right: 5px;
  }

.product-hint-pic img{
  max-width: 40px;
  height: auto
    }

.product-hint-tex {
  width: 130px;
  float: left;
	padding-top: 4px;
}


.tdpic td {
  border-left: 1px solid #94cef6;
  width: 50px;
  }

.tdtex {
  border-right: 1px solid #94cef6;
  font-size: .95em;
  width: 250px;

  }

.text-black a {
  color: #000000;
}

/*****
CHARGES
******/

.custom-button span {
  display: inline-block;
  position: relative;
  padding: 0 12px;
  height: 32px;
  width: 135px;
  line-height: 30px;
  border: 1px solid #1275ff;
  background: #1275ff;
  background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -webkit-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -moz-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -ms-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: -o-linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  background-image: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -o-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/******
payment section on order
*******/

#payment-data {
  display: none;
}
.custom-button:hover {
  cursor: pointer;
}
