<div class="radio">
  <input class="hide" type="radio" name="order[shipment_type]" id="order_shipment_type_pickup" value="pickup" data-price="0.0" checked="checked">
  Recoger y pagar en caja (sin valor extra agregado).
</div>
